
.title {
    font-family: 'YourChosenFont', sans-serif;
    font-weight: 700;
    font-size: 56px;
}
.name {
    color: transparent;

}
.title-warp {
    width: 211px;
    background:linear-gradient(120deg, #bd34fe, #41d1ff);
    background-clip:text;

}