/* src/components/Tooltip.css */  
.tooltip-container {  
    position: relative;  
    display: inline-block;  
    cursor: pointer;  
  }  
    
  .tooltip {  
    visibility: hidden;  
    opacity: 0;  
    background-color: #333;  
    color: #fff;  
    text-align: center;  
    border-radius: 5px;  
    padding: 5px;  
    position: absolute;  
    z-index: 1;  
    transition: opacity 0.3s;  
    white-space: nowrap;  
  }  
    
  .tooltip-top {  
    bottom: 100%;  
    margin-bottom: 5px;  
    left: 50%;  
    transform: translateX(-50%);  
  }  
    
  .tooltip-bottom {  
    top: 100%;  
    margin-top: 5px;  
    left: 50%;  
    transform: translateX(-50%);  
  }  
    
  .tooltip-left {  
    top: 50%;  
    right: 100%;  
    margin-right: 5px;  
    transform: translateY(-50%);  
  }  
    
  .tooltip-right {  
    top: 50%;  
    left: 100%;  
    margin-left: 5px;  
    transform: translateY(-50%);  
  }  
    
  .show-tooltip {  
    visibility: visible!important;  
    opacity: 1!important;  
  }